<aside class="tides-widget" id="tides-widget" data-station-name="{{ site.tides.stationName }}">
  <h3>Tides &mdash; {{ site.tides.stationName }}</h3>
  <p class="tides-widget__status">Loading today's tides&hellip;</p>
  <noscript>
    <p><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id={{ site.tides.stationId }}">View tide predictions on NOAA.gov</a></p>
  </noscript>
</aside>
<script src="/js/tides.js" defer></script>
